extends layout

block content
  sr-nav-sidebar
  div(class='pusher')
    div(ui-view='nav')
    div(class='ui page grid')
      div(class='row')
        div(class='column')
          div(ui-view='content')
      div(class='centered row', sr-back-to-top)
