doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/static/semantic/semantic.min.css')
    link(rel='stylesheet', href='/static/main.css')

    title= title
    if dev
      script(src='/static/node_modules/requirejs/require.js')
      script(src='/static/amdConfig.js')
    script(src='/static/boot.js')
  body
    block content
