@import "style/responsive-utilities";
@import "style/utilities";

p {
  text-align: justify;
}

.ui.video {
  margin: 0 0 1em;
}

.nav {
  .logo.item {
    padding: 0.5em 0.5em;
  }
}

.sidebar .item .logo.image {
  margin-right: 1em;
}

.terminology {
  text-align: center;
  .ui.table {
    margin: auto;
  }
}

/* The starting CSS styles for the enter animation */
.ng-enter {
  &[ui-view], &sr-fade {
    transition:0.5s linear all;
    opacity:0;
  }
}

/* The starting CSS styles for the enter animation */
.ng-enter.ng-enter-active {
  &[ui-view], &sr-fade {
    opacity:1;
  }
}
